@model IEnumerable<WAD_T2104E_LeKhaDucAnh.Models.Category>

@{
    ViewBag.Title = "List Categories";
}

<h2>List Categories</h2>

<p>
    @Html.ActionLink("Create New Category", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.CategoryName)
        </th>
        <th>
            Action
        </th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.CategoryName)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.CategoryId }, new { @class = "edit" }) |
            @Html.ActionLink("Details", "Details", new { id=item.CategoryId }, new { @class = "details" }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.CategoryId }, new { @class = "delete" })
        </td>
    </tr>
}

</table>
